name: 'Kubernetes staging deployment'
on: [workflow_dispatch]

jobs:
  deploy:
    runs-on: ubuntu-latest
    env:
      STAGING_KUBERNETES_KUBECONFIG: ${{ secrets.STAGING_KUBERNETES_KUBECONFIG }}
    steps:

    - name: Checkout
      uses: actions/checkout@master

    - name: Install kubectl
      uses: azure/setup-kubectl@v1

    - name: Decode kubeconfig
      run: echo $STAGING_KUBERNETES_KUBECONFIG | base64 --decode > $GITHUB_WORKSPACE/deploy/kubeconfig.yml

    - name: Test
      run: echo $GITHUB_WORKSPACE/deploy/kubeconfig.yml && cat $GITHUB_WORKSPACE/deploy/kubeconfig.yml

    - name: Deploy to DigitalOcean Kubernetes
      run: kubectl --kubeconfig=$GITHUB_WORKSPACE/deploy/kubeconfig.yml apply -f $GITHUB_WORKSPACE/deploy/manifests/deployment.yml

    # TODO add rollout status check
